@charset "UTF-8";
* { /* para reiniciar márgenes en cualquier navegador*/
  margin: 0;
  padding: 0;
}

.titulo {
  font-size: large;
  padding: 1rem;
  max-width: 100%;
}

header {
  background: rgba(153, 204, 173, 0.8156862745);
  width: 100%;
  position: sticky;
  align-items: center;
  display: flex;
  top: 0; /* Posicionamos la cabecera pegada arriba */
}

.pie {
  background: rgba(128, 0, 128, 0.5019607843);
  width: 100%;
  padding: 0.5rem;
  bottom: 0;
  position: fixed;
}

.texto-pie {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  color: #c0c0e0;
  font-size: 2 rem;
}

.texto-copete {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  color: #c0c0e0;
  font-size: 2 rem;
}

html {
  font-size: 100%;
  background-image: url("../img/chaco.webp");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.sin-vinetas { /* para las viñetas que no lleven viñeta */
  list-style: none;
}

.img { /* las imágenes nunca se pasan del 100%*/
  max-width: 100%;
}

#boton-header:hover {
  color: #a0a0a0;
  font-style: italic;
}

#imagen-zoom:hover {
  transform: scale(1.1);
}

.caja_gris, .landing {
  font-family: "Ubuntu", sans-serif;
  display: flex;
  background-color: rgba(205, 205, 205, 0.842);
  border-style: groove;
  border-color: darkgreen;
  text-align: center;
  justify-content: center;
}

/* grids */
.grid {
  display: grid;
  grid-template-columns: 1fr; /* en tamaño chico, una columna */
  grid-template-rows: 1fr 1fr;
  margin: 1rem;
  justify-items: center; /* mueve en horizontal*/
  align-items: center; /* mueve en vertical */
  width: 95%;
}

.grid div img { /* las imágenes de la grilla van al 90%*/
  max-width: 90%;
}

@media screen and (min-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* en tamaño grande, dos columnas */
    grid-template-rows: 1fr;
    margin: 1rem;
    justify-items: center; /* mueve en horizontal*/
    align-items: center; /* mueve en vertical */
    width: 95%;
  }
}
.navegador ul {
  display: flex;
  justify-content: center;
}
.navegador ul li {
  font-size: 1.5rem;
  margin-left: 1rem;
  padding-right: 1rem;
  border-right: 2px solid purple;
}
.navegador ul li a {
  font-family: "Ubuntu", sans-serif;
  text-decoration: none;
  color: rgba(64, 64, 64, 0.9411764706);
  transform: scale(1.1, 1.1);
}
.navegador ul li:last-child {
  border-right: none;
}

/* Fin de navegador todos los tamaños */
/* Navegador grande */
@media screen and (min-width: 768px) {
  .navegador {
    display: grid;
    grid-template-columns: 1fr; /* en tamaño grande, dos columnas */
    grid-template-rows: 1fr;
    margin: 1rem;
    justify-items: center; /* mueve en horizontal*/
    align-items: center; /* mueve en vertical */
    width: 100%;
    border-right: 0px solid blue;
  }
} /* fin navegador grande */
/* Navegador: tamaño mediano */
@media screen and (min-width: 400px) and (max-width: 767px) {
  .navegador {
    padding: 0rem;
    width: 100%;
  }
  .navegador ul {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
  }
  .navegador ul li {
    font-family: "Ubuntu", sans-serif;
    margin-left: 1rem;
    padding-right: 1rem;
    border: 0px solid yellow;
  }
} /* fin navegador mediano */
/* Navegador: tamaño chico */
@media screen and (max-width: 399px) {
  .navegador {
    padding: 0rem;
    width: 100%;
  }
  .navegador ul {
    display: grid;
    justify-content: left;
    grid-template-columns: 1fr; /* en tamaño grande, dos columnas */
  }
  .navegador ul li {
    margin-left: 0px;
    padding-right: 0px;
    border-right: 0px solid purple;
  }
  .navegador ul li a {
    font-size: 100%;
  }
}
/* Navegador: tamaño chico */
@media screen and (max-width: 280px) {
  .navegador {
    padding: 0rem;
    width: 100%;
  }
  .navegador ul {
    display: grid;
    justify-content: left;
    grid-template-columns: 1fr; /* en tamaño grande, dos columnas */
  }
  .navegador ul li {
    margin-left: 0.5rem;
    padding-right: 0.5rem;
    border-right: 0px solid purple;
  }
  .navegador ul li a {
    font-size: 70%;
  }
}
/* Notas default*/
.notas {
  font-size: large;
  max-width: 100%;
  margin-top: 10px;
  margin-left: 80px;
  margin-right: 80px;
  padding: 50px;
  padding-top: 0px;
  /* el siguiente código me gustaría meterlo en un extend, 
  pero no medeja hacerlo en una MQ*/
  font-family: "Ubuntu", sans-serif;
  display: flex;
  background-color: rgba(205, 205, 205, 0.842);
  border-style: groove;
  border-color: darkgreen;
  text-align: center;
  justify-content: center;
  /* fin del código que quisiera meter en un extend .caja_gris*/
}
.notas p {
  padding: 0px;
}
.notas ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
}
.notas ul li a {
  text-decoration: none;
  color: rgba(64, 64, 64, 0.9411764706);
  padding-right: 1rem;
}

/* Fin notas default y chico*/
/* Notas mediano */
@media screen and (max-width: 767px) {
  .notas {
    font-size: large;
    max-width: 100%;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    padding-top: 0px;
  }
  .notas ul {
    justify-content: space-between;
    margin: 20px;
  }
  .notas ul li a {
    padding-right: 1rem;
  }
  .notas div h1 {
    font-size: medium;
  }
}
/* Fin notas mediano */
/* Notas grande */
@media screen and (min-width: 768px) {
  .notas {
    font-size: large;
    max-width: 100%;
    background-color: rgba(205, 205, 205, 0.842);
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 80px;
    padding: 50px;
    padding-top: 0px;
  }
  .notas ul {
    justify-content: space-between;
    margin: 20px;
  }
  .notas ul li a {
    padding-right: 1rem;
  }
}
/* Fin notas grande */
/* Contactos chico*/
@media screen and (max-width: 767px) {
  .contacto {
    font-family: "Ubuntu", sans-serif;
    font-size: medium;
    display: flex;
    max-width: 100%;
    background-color: rgba(205, 205, 205, 0.842);
    border-color: darkgreen;
    border-style: groove;
    margin: 5px;
    padding: 5px;
    text-align: center;
  }
  .galeria-contactos {
    display: flex;
    flex-flow: wrap; /* para que no queden todos en fila*/
    justify-content: center;
    width: 100%;
  }
  .galeria-contactos img {
    max-width: 100%;
    padding: 10px;
    max-width: 15%;
  }
}
/* Contacto grande*/
@media screen and (min-width: 768px) {
  .contacto {
    font-size: medium;
    align-items: center;
    max-width: 100%;
    background-color: rgba(205, 205, 205, 0.842);
    border-color: darkgreen;
    border-style: groove;
    margin: 5px;
    padding: 5px;
    text-align: center;
    /* el siguiente código me gustaría meterlo en un extend, 
      pero no medeja hacerlo en una MQ*/
    font-family: "Ubuntu", sans-serif;
    display: flex;
    background-color: rgba(205, 205, 205, 0.842);
    border-style: groove;
    border-color: darkgreen;
    text-align: center;
    justify-content: center;
    /* fin del código que quisiera meter en un extend .caja_gris*/
  }
  .galeria-contactos {
    display: flex;
    flex-flow: wrap; /* para que no queden todos en fila*/
    justify-content: center;
    width: 80%;
    margin: 50px;
  }
  .galeria-contactos img {
    margin: 10px;
    max-width: 10%;
  }
}
.formulario-generador {
  display: flex;
  flex-flow: nowrap; /* para que no queden todos en fila*/
  justify-content: center;
  width: 100%;
  margin: 50px;
}

/* Generador mediano y chico */
@media screen and (max-width: 767px) {
  .generador {
    font-family: "Ubuntu", sans-serif;
    font-size: large;
    display: flex;
    justify-content: center;
    max-width: 100%;
    background-color: rgba(205, 205, 205, 0.842);
    border-color: darkgreen;
    border-style: groove;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    padding-top: 5px;
    text-align: center;
  }
}
/* Generador grande */
@media screen and (min-width: 768px) {
  .generador {
    font-family: "Ubuntu", sans-serif;
    font-size: large;
    display: flex;
    justify-content: center;
    max-width: 100%;
    background-color: rgba(205, 205, 205, 0.842);
    border-color: darkgreen;
    border-style: groove;
    margin-top: 10px;
    margin-left: 80px;
    margin-right: 80px;
    padding: 50px;
    padding-top: 50px;
    text-align: center;
  }
}
.landing {
  max-width: 100%;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  padding-bottom: 20px;
  padding-top: 0px;
  font-size: 100%;
}

.redimensiona-carousel {
  display: flex;
  justify-content: center;
  padding: 0rem;
  margin-left: 0rem;
  margin-right: 0rem;
  margin-top: 1rem;
  max-width: 100%;
}

.carousel {
  width: 640px;
  height: 360px;
  max-width: 80%;
}

.galeria-favoritos {
  width: 100%;
  margin: 100px;
}
.galeria-favoritos ul {
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
}

/*# sourceMappingURL=styles.css.map */
