
/* Contactos chico*/
@media screen and (max-width:767px){
    .contacto{

        font-family: 'Ubuntu', sans-serif;
        font-size: medium;
        display: flex;
        max-width: 100%;
        background-color: $color_fondo_cajas;
        border-color: darkgreen;
        border-style: groove;
        margin:5px;
        padding:5px;
        text-align: center;
        }

        .galeria-contactos {
            display:flex;
            flex-flow: wrap; /* para que no queden todos en fila*/
            justify-content: center;
            width:100%;
            img{
                max-width: 100%;
                padding: 10px;
        
            }        
        }
 }
    
    
/* Contacto grande*/
 @media screen and (min-width:768px){
    .contacto{
        font-family: 'Ubuntu', sans-serif;
        font-size: medium;
        align-items: center;      
        display: flex;
        max-width: 100%;
        background-color: $color_fondo_cajas;
        border-color: darkgreen;
        border-style: groove;
        margin:5px;
        padding:5px;
        text-align: center;
    }

    .galeria-contactos {
        display:flex;
        flex-flow: wrap; /* para que no queden todos en fila*/
        justify-content: center;
        width:80%;
        margin:50px;
        img{
            margin:10px;
            size-adjust: auto;
    
        }
    }
}
