
/* Contactos chico*/
@media screen and (max-width:767px){
    .contacto{

        font-family: $fuente;
        font-size: medium;
        display: flex;
        max-width: 100%;
        background-color: $color_fondo_cajas;
        border-color: darkgreen;
        border-style: groove;
        margin:5px;
        padding:5px;
        text-align: center;
        }

        .galeria-contactos {
            display:flex;
            flex-flow: wrap; /* para que no queden todos en fila*/
            justify-content: center;
            width:100%;
            img{
                max-width: 100%;
                padding: 10px;
                max-width: 15%;
            }        
        }
 }
    
    
/* Contacto grande*/
 @media screen and (min-width:768px){
    .contacto{
        font-size: medium;
        align-items: center;      
        max-width: 100%;
        background-color: $color_fondo_cajas;
        border-color: darkgreen;
        border-style: groove;
        margin:5px;
        padding:5px;
        text-align: center;

/* el siguiente código me gustaría meterlo en un extend, 
  pero no medeja hacerlo en una MQ*/

        font-family: $fuente;
        display: flex;
        background-color: $color_fondo_cajas;
        border-style: groove; 
        border-color: darkgreen;
        text-align: center;
        justify-content: center;

/* fin del código que quisiera meter en un extend .caja_gris*/        
    }

    .galeria-contactos {
        display:flex;
        flex-flow: wrap; /* para que no queden todos en fila*/
        justify-content: center;
        width:80%;
        margin:50px;
        img{
            margin:10px;
            max-width: 10%;
        }
    }
}
