
/* Notas default*/
.notas {
    font-size: large;
    max-width: 100%;
    margin-top:10px;
    margin-left:80px;
    margin-right:80px;
    padding:50px;
    padding-top:0px;
    /* el siguiente código me gustaría meterlo en un extend, 
    pero no medeja hacerlo en una MQ*/

    font-family: 'Ubuntu', sans-serif;
    display: flex;
    background-color: $color_fondo_cajas;
    border-style: groove; 
    border-color: darkgreen;
    text-align: center;
    justify-content: center;

    /* fin del código que quisiera meter en un extend .caja_gris*/  
    p { padding:0px;  }

    ul {
        list-style: none; 
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content:space-between;
        margin:20px;
        li a{
            text-decoration: none;  
            color: #404040f0;  
            padding-right: 1rem;
        
        }
    }
}

/* Fin notas default y chico*/
/* Notas mediano */ 
@media screen and (max-width:767px){
    .notas {
        font-size: large;
        max-width: 100%;
        margin-top:10px;
        margin-left:5px;
        margin-right:5px;
        padding:5px;
        padding-top:0px;
        ul {
            justify-content:space-between;
            margin:20px;
            li a{
                padding-right: 1rem;
            }
        }
        div h1{
            font-size:medium;
        }    
    }
}
/* Fin notas mediano */

/* Notas grande */ 
@media screen and (min-width:768px){
    .notas {
        font-size: large;
        max-width: 100%;
        background-color: $color_fondo_cajas;
        margin-top:20px;
        margin-left:80px;
        margin-right:80px;
        padding:50px;
        padding-top:0px;
        ul {
            justify-content:space-between;
            margin:20px;
            li a{
                padding-right: 1rem;
            }
        }
    }

}
/* Fin notas grande */
