@import "globales";

*{/* para reiniciar márgenes en cualquier navegador*/
    margin:0;
    padding: 0;
}  



/* grids */
.grid{
    display:grid;
    grid-template-columns: 1fr ;    /* en tamaño chico, una columna */
    grid-template-rows: 1fr 1fr;
    margin: 1rem;
    justify-items: center ;  /* mueve en horizontal*/
    align-items: center;   /* mueve en vertical */
    width: 95%;
}


html{
    font-size: 100%;
    background-image: url("../img/chaco.webp");
    background-size:cover;
    background-repeat: no-repeat;
    height: 100%;
}

header{
    background: $fondo_header;   
    width:100%;
    position:sticky;
    align-items: center;
    display: flex;
    top: 0; /* Posicionamos la cabecera pegada arriba */

}
.navegador {
    div {
        border:solid 1px #00ff0020;    /* dejo una línea poco visible como guía */
    }

    ul{
        display: flex;
        justify-content: center;
        li {
            font-family: 'Ubuntu', sans-serif;
            font-size: 1rem;
            margin-left: 1rem;
            padding-right: 1rem;
            border-right: 2px solid purple;
            a{
                text-decoration: none; 
                color: #404040f0;  
                transform: scale(1.1,1.1);
            }
        }
        li:last-child {
            border-right: none;
        }
    }
}


.sin-vinetas{  /* para las viñetas que no lleven viñeta */
    list-style: none; 
}

/* Fin de navegador todos los tamaños */


/* Navegador: tamaño chico */
@media screen and (max-width:529px){
    .navegador{
        padding: 0rem; 
        width:100%;
        ul{
            display: grid;
            justify-content: center;
            li {
                margin-left: 0.5rem;
                padding-right: 0.5rem;
                border-right: 0px solid purple;
                a{
                    font-size: 80%; 
                }
            }
        }
    }
    
    
    
}

/* Navegador: tamaño mediano */
@media screen and (max-width:767px) and (min-width:530px){
    .navegador{
        padding: 0rem; 
        width:100%;
        ul li {
            font-family: 'Ubuntu', sans-serif;
            margin-left: 1rem;
            padding-right: 1rem;
            a {
                font-size: 80%; 
            }
        }
    }


    
}/* fin navegador mediano */


/* Navegador grande */ 
@media screen and (min-width: 768px) {

    .navegador{
        display:grid;
        grid-template-columns: 1fr  ;  /* en tamaño grande, dos columnas */
        grid-template-rows: 1fr ;
        margin: 1rem;
        justify-items: center ;  /* mueve en horizontal*/
        align-items: center;   /* mueve en vertical */
        width: 100%;
        ul li a {
            /* color:yellow;*/
            font-size: 100%;   /* en tamaño grande, fuente al 100%*/
        }
    }
} /* fin navegador grande */


.landing {
    font-family: 'Ubuntu', sans-serif;
    font-size: large;
    display: flex;
    justify-content: center;
    max-width: 100%;
    background-color: $color_fondo_cajas;
    border-color: darkgreen;
    border-style: groove;
    margin-top:10px;
    margin-left:80px;
    margin-right:80px;
    padding:50px;
    padding-top:0px;
    text-align: center;
}


.pie {
    background: #80008080;
    width: 100%;
    padding: 0.5rem;
    bottom: 0;
    position:fixed;
}

.texto-pie {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    color: #c0c0e0;
    font-size:2 rem;
}
.texto-copete {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    color: #c0c0e0;
    font-size:2 rem;
}
/* Nottas default*/
.notas {
    font-family: 'Ubuntu', sans-serif;
    font-size: large;
    display: flex;
    justify-content: center;
    max-width: 100%;
    background-color: $color_fondo_cajas;
    border-color: darkgreen;
    border-style: groove;
    margin-top:10px;
    margin-left:80px;
    margin-right:80px;
    padding:50px;
    padding-top:0px;
    text-align: center;
    p{
        padding:0px;
    }
    ul {
        list-style: none; 
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content:space-between;
        margin:20px;
        li a{
            text-decoration: none;  
            color: #404040f0;  
            padding-right: 1rem;
        
        }
    }
}

/* Fin notas default y chico*/
/* Notas mediano */ 
@media screen and (mAX-width:767px){
    .notas {
        font-size: large;
        max-width: 100%;
        background-color: $color_fondo_cajas;
        margin-top:10px;
        margin-left:5px;
        margin-right:5px;
        padding:5px;
        padding-top:0px;
        ul {
            justify-content:space-between;
            margin:20px;
            li a{
                padding-right: 1rem;
            }
        }
        div h1{
            font-size:medium;
        }    
    }
}
/* Fin notas mediano */

/* Notas grande */ 
@media screen and (min-width:768px){
    .notas {
        font-size: large;
        max-width: 100%;
        background-color: $color_fondo_cajas;
        margin-top:20px;
        margin-left:80px;
        margin-right:80px;
        padding:50px;
        padding-top:0px;
        ul {
            justify-content:space-between;
            margin:20px;
            li a{
                padding-right: 1rem;
            }
        }
    }

}
/* Fin notas grande */

.landing {
    font-family: 'Ubuntu', sans-serif;
    font-size: large;
    display: flex;
    justify-content: center;
    max-width: 100%;
    background-color: $color_fondo_cajas;
    /* border-color: darkgreen; */
   /* border-style: groove; */
    margin-top:5px;
    margin-left:10px;
    margin-right:10px;
    padding:10px;
    padding-top:0px;
    text-align: center;
    font-size: 80%;
}

.titulo{
    font-size: large;
    padding:1rem;
    max-width: 100%;
}

.galeria-landing {
    display:flex;
    justify-content: center;
    padding: 0rem; 
    width:100%;
    margin-left: 0rem;
    margin-right: 0rem;
    margin-top:1rem;
    img{
        max-width: 100%;  /* evita el scroll vertical de la galería en el index*/
    }
}

.galeria-favoritos {
    width:100%;
    margin:100px;
    ul{
        flex-wrap: wrap;
        justify-content:space-evenly;
        list-style: none; 
    }  
}

/* Contactos chico*/
@media screen and (max-width:767px){
    .contacto{

        font-family: 'Ubuntu', sans-serif;
        font-size: medium;
        display: flex;
        max-width: 100%;
        background-color: $color_fondo_cajas;
        border-color: darkgreen;
        border-style: groove;
        margin:5px;
        padding:5px;
        text-align: center;
        }

        .galeria-contactos {
            display:flex;
            flex-flow: wrap; /* para que no queden todos en fila*/
            justify-content: center;
            width:100%;
            img{
                max-width: 100%;
                padding: 10px;
        
            }        
        }
 }
    
    
/* Contacto grande*/
 @media screen and (min-width:768px){
    .contacto{
        font-family: 'Ubuntu', sans-serif;
        font-size: medium;
        align-items: center;      
        display: flex;
        max-width: 100%;
        background-color: $color_fondo_cajas;
        border-color: darkgreen;
        border-style: groove;
        margin:5px;
        padding:5px;
        text-align: center;
    }

    .galeria-contactos {
        display:flex;
        flex-flow: wrap; /* para que no queden todos en fila*/
        justify-content: center;
        width:80%;
        margin:50px;
        img{
            margin:10px;
            size-adjust: auto;
    
        }
    }
}

.formulario-generador {
    display:flex;
    flex-flow: nowrap; /* para que no queden todos en fila*/
    justify-content: center;
    width:100%;
    margin:50px;
}
/* Generador mediano y chico */
@media screen and (max-width:767px){       
    .generador {
        font-family: 'Ubuntu', sans-serif;
        font-size: large;
        display: flex;
        justify-content: center;
        max-width: 100%;
        background-color: $color_fondo_cajas;
        border-color: darkgreen;
        border-style: groove;
        margin-top:10px;
        margin-left:5px;
        margin-right:5px;
        padding:5px;
        padding-top:5px;
        text-align: center;
    }
}

/* Generador grande */
@media screen and (min-width:768px){
    .generador {
        font-family: 'Ubuntu', sans-serif;
        font-size: large;
        display: flex;
        justify-content: center;
        max-width: 100%;
        background-color: $color_fondo_cajas;
        border-color: darkgreen;
        border-style: groove;
        margin-top:10px;
        margin-left:80px;
        margin-right:80px;
        padding:50px;
        padding-top:50px;
        text-align: center;
    }
}

/* grids por áreas*/
#grilla{
    display:grid;
    //border: solid 1px green;
    grid-template-areas: 
    "contenido contenido publicidad"
    "contenido contenido publicidad"
    "contenido contenido publicidad";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 30% 30%;
}


.img {  /* las imágenes nunca se pasan del 100%*/
    max-width: 100%;   
}

.grid div img{ /* las imágenes de la grilla van al 90%*/
    max-width:90%;
}

@media screen and (min-width:768px){
    .grid{
        display:grid;
        grid-template-columns: 1fr 1fr ;  /* en tamaño grande, dos columnas */
        grid-template-rows: 1fr ;
        margin: 1rem;
        justify-items: center ;  /* mueve en horizontal*/
        align-items: center;   /* mueve en vertical */
        width: 95%;
    }
}

#boton-header:hover {
    color: $header_hover;
    font-style: italic;
}
#imagen-zoom:hover {
    transform: scale(1.1);
}
